
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  top: 0px;
}

a {
  color: seashell;
}


/*header*/

header {
  background-color: black;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  top: 0px;
  left: 0px;
}

.logo {
  display: flex;
  padding-left: 10px;
  flex-grow: 1;
}

nav span {
  padding: 20px 10px;
  text-decoration: underline;
}

/*main*/

.content {
  display: flex;
  justify-content: center;
}

/*mission*/

#mission {
  display: flex;
  background-image: url(../images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;

}
